# Ignore node_modules
node_modules/
.DS_Store

# Ignore build artifacts
build/
dist/
playwright-report/
test-results/
ios/App/App/public/

# Ignore environment variables
.env
.env.local
.env.production
.env.development

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
