# Ignore node_modules
node_modules/

# Ignore build artifacts
build/
dist/

# Ignore environment variables
.env
.env.local
.env.production
.env.development

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
